<script>
	$(document).on('change', 'select[name="tumor_type"]', function(){
		var tumor_type = $('select[name="tumor_type"]').val();

		$.get('/clinical/get_data_sources', {tumor_type: tumor_type}, function (data) {
			var data_keys = Object.keys(data);

			var html = '';
			data_keys.forEach(function(data_key) {
				html += '<option value="' + data_key + '">' + data[data_key] + '</option>';
			});
			$('select[name="data_source"]').html(html);
			console.log(html);
		});

		$.get('/clinical/get_clinical_variables', {tumor_type: tumor_type}, function (data) {
			data = data["vars"];
			var html = '<option value="NULL">No Clinical Variable</option>';
			data.forEach(function(clinical_variable) {
				capitalized = clinical_variable.replace(/\w\S*/g, function(txt){return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();});
				html += '<option value="' + clinical_variable.replace(/\s/g, "_") + '">' + capitalized + '</option>';
			});

			$('select[name="clinical_variable"]').html(html);
		});
	});

	$(document).on('change', 'select[name="tumor_type"], select[name="data_source"]', function() {
		var tumor_type = $('select[name="tumor_type"]').val();
		var data_source = $('select[name="data_source"]').val();

		if (tumor_type && data_source) {
			$.get('/omics/get_gene_names', {tumor_type: tumor_type, data_source: data_source}, function(data) {
				var html = "";
				data.forEach(function(gene_name) {
					html += '<option>' + gene_name + '</option>';
				});
				$('select[name="gene_name"]').html(html);
			});
		} else {
			$('select[name="gene_name"]').html('');
		}
	});

</script>

<!-- <b><%= @command %></b> -->
<h2>Omics Visualization</h2>
<style type="text/css" media="screen">
	div#tips a  {
		text-decoration:none;
		border-bottom:2px solid green;
		color: #0000FF;
	}

	div#tips a:hover {
		color: #666666;
		background: #FFFFCC;
		text-decoration: none;
	}
	div#tips a span {display: none;}
	div#tips a:hover span {
		display: block;
		position: absolute;
		padding: 5px;
		margin: 10px;
		z-index: 100;
		color: #0000CC;
		background: #FFFFCC;
		font: 10px Verdana, Arial, Helvetica, sans-serif;
		text-align: center;
		border: 1px solid #666666;
		text-decoration: none;
	}
	div#tips p {position:relative}
</style>
<div style="float:left;width:95%;" class="well">
This module visualizes the omics data from The Cancer Genome Atlas (TCGA) cancer cohorts. Below are the steps for omics visualization and comparison between different clinical groups.
<br><b>Step 1:</b> Choose the tumor type of interest. All tumor types investigated by TCGA consortiums are available for selection.
<br><b>Step 2:</b> Choose the omics type of interest. All available omics types for the chosen tumor are shown.
<br><b>Step 3:</b> Choose the gene, protein, microRNA, or methylation sites to visualize. All available items are shown.
<br><b>Step 4:</b> (Optional) Choose the clinical variable to stratify patients into groups. If selected, the omics profile of patients in different clinical groups will be plotted and compared (Wilcoxon signed rank test for two-group and analysis of variance (ANOVA) for multi-group comparison). Otherwise, the omics profile of the whole cohort will be plotted.
<br><b>Step 5:</b> Click "Run!" to generate the analysis. The results are presented on this page once available. Proteomics or microRNA results are generated instantaneously, while RNA-sequencing or methylation data can take up to 2 minutes.
</div>

<form id="omics-visual-form" method="post" action="#results">
	<center>
	<div style="float:left;width:475px;margin-left:10px;" align="center">
		<h4>Step 1: Choose the Tumor Type<font color="red">*</font></h4>
		<div class="well">
			<%= select_tag "tumor_type", options_for_select({'Choose Tumor Type' => ''}.merge(SiteConstants::TUMOR_TYPES.invert)) %>
		</div>
	</div>
	<div style="float:left;width:475px;margin-left:10px;" align="center">
		<h4>Step 2: Choose the Data Source<font color="red">*</font></h4>
		<div class="well">
			<%= select_tag "data_source" %>
		</div>
	</div>

	<br style="clear:both;">

	<div style="float:left;width:475px;margin-left:10px;" align="center">
		<h4>Step 3: Choose the Gene / Protein / MicroRNA / Methylation Site to Visualize<font color="red">*</font></h4>
		<div id="tips"><h5><a href="#"><strong>Tips</strong><span>To jump directly to the gene/protein/microRNA of interest, select the dropdown list and type the gene/protein/microRNA name.</span></a></h5></div>
		<div class="well">
			<%= select_tag "gene_name" %>
		</div>
	</div>
	<div style="float:left;width:475px;margin-left:10px;" align="center">
		<h4>Step 4: Choose the Clinical Variable (optional)</h4>
		<div id="tips"><h5><a href="#"><strong>Tips</strong><span>Default view plot the distribution over all patients with the selected tumor type. Choose clinical variables to strafity patients accordingly to their clinical phenotypes.</span></a></h5></div>
		<div class="well">
			<%= select_tag "clinical_variable" %>
		</div>
	</div>
	</center>
	<br style="clear:both;">


	<div style="text-align: center">
		<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>"></input>
		<div id="form_error_message_field" style="color:red; margin-bottom:5px;"></div>
		<h4>Step 5: Generate the analysis<font color="red">*</font></h4>
		<input type="submit" value="Run!" name="generate" class="btn btn-primary" style="height:50px;font-size:16pt;">

	</div>
	<br><font color="red">* = required</font>
</form>

<% if params[:generate] %>
	<div id="results">
		<b>Tumor type:</b> <%= @tumor_type %>
		<br>
		<b>Data source:</b> <%= @data_source%>
		<br>
		<b>Feature name:</b> <%= @gene_name%>
		<br>
		<b>Clinical variable:</b> <%= @clinical_variable %>
		<br>
		<%= ("<b>P-value:</b> ".html_safe + @pvalue) if @pvalue.length > 0 %>
		<br>
		<a href="/sessions/<%= @session_id %>/boxplot.png" target="_blank">
			<img src="/sessions/<%= @session_id %>/boxplot.png">
			<p align="center">Download Results</p>
		</a>
	</div>
<% end %>

<br style="clear:both;">

<script>
	
	$('#omics-visual-form').submit(function(e) {
		if (!$('select[name="tumor_type"]').val() || !$('select[name="data_source"]').val() || !$('select[name="gene_name"]').val()) {
			$('#form_error_message_field').html("Must select both a tumor type, a data source, and a gene name.");
			return false;
		}
	});
</script>
