<h4>Choose the Training / Test Partition</h4>
<div class="well">
	<table class="noborder">
		<tr>
			<td colspan="2">
				<input type="radio" name="partition" value="batch" CHECKED>Batch Partition
				<input type="radio" name="partition" value="random">Random Partition
				<input type="radio" name="partition" value="kfold">K-fold
				<input type="radio" name="partition" value="LOOCV">LOOCV
			</td>
		</tr>
		<tr class="batch-partition-params" style="display:none; height:52px;">
			<td colspan="2">
				<div style="height:390px;overflow:auto">
				<table style="border: 1px solid #000;" id="batch-options-table">
				<% SiteConstants::MEDICAL_CENTERS.each do |medical_center| %>
					<tr id="<%='batch-' + medical_center[:id] %>">
						<td style="padding:10px;border:1px solid #000"><input type="checkbox" name="medical_centers[]" value="<%= medical_center[:id] %>" style="margin-bottom:7px"></td>
						<td style="border:1px solid #000;padding:5px"><%= medical_center[:id] %> (<%=medical_center[:name] %>)</td>
					</tr>
				<% end %>
				</table>
				</div>
			</td>
		</tr>
		<tr class="random-partition-params" style="display:none; height:52px;">
			<td><input type="radio" name="seed_type" value="random_seed" CHECKED>Random seed</input></td>
			<td>
				<input type="radio" name="seed_type" value="specify_seed">Specify seed</input>
				<input type="number" class="form-control" style="display: none; width: 50px;" name="random_seed" min="1">
			</td>
		</tr>
		<tr class="kfold-params" style="display:none; height:52px;">
			<td colspan="2">
				Number of folds: <input type="number" name="random_seed" min="1" value="10" style="width:50px"></input>
			</td>
		</tr> 
	</table>
	<div class="random-partition-params" style="display:none;">
				Percentage of cases used as training data
		<input type="number" class="form-control" style="width: 50px;" name="training_percentage" min="0" max="100" value="70">%
	</div>
</div>

<%= javascript_include_tag 'BatchParamsManager' %>
<%= javascript_tag do %>
	$(document).ready(function() {
		new BatchParamsManager();
	});	
<% end %>