<script>
	function get_prediction_target_groups() {
		var tumor_type = $('select[name="tumor_type"]').val();
		var input_target = $('select[name="prediction_target"]').val();

		$.get('/analysis/get_unique_prediction_target_values', {tumor_type: tumor_type, prediction_target: input_target}, function (targets) {
			var html = '<select name="prediction_target_groups" style="width:100%" size="5" multiple>';
			targets.forEach(function(target) {
				html += '<option>' + target + '</option>'
			});
			html += '</select><br style="clear:both;">';
			html += '<div style="width:40%;float:left">';
				html += '<input type="button" value="Add to Group 1" onClick="addToPredictionTargetGroup(1)">';
				html += 'Group 1<br>';
				html += '<select style="width:100%" name="prediction_target_group1[]" id="pt_group1" size="5" multiple>';
				html += '</select>';
			html += '</div>';
			html += '<div style="width:20%;float:left;padding-top:50px;">';
				html += '<div style="margin-left:5px;">';
					html += '<input type="button" value=">" onClick="movePredictionTarget(1, 2)">';
					html += '<input type="button" value="<" onClick="movePredictionTarget(2, 1)">';
				html += '</div>';
			html += '</div>';
			html += '<div style="width:40%;float:left">';
				html += '<input type="button" value="Add to Group 2" onClick="addToPredictionTargetGroup(2)">';
				html += 'Group 2<br>';
				html += '<select style="width:100%" name="prediction_target_group2[]" id="pt_group2" size="5" multiple>';
				html += '</select>';
			html += '</div>';
			html += '<br style="clear:both;"><input type="button" value="Reset" onClick="reset_prediction_target_groups()">';
			$("#prediction_target_groups").html(html);
		});
	}

	function reset_prediction_target_groups() {
		get_prediction_target_groups();
	}

	function get_prediction_targets() {
		$('select[name="prediction_target"]').html("");

		var tumor_type = $('select[name="tumor_type"]').val();
		if (tumor_type) {
			$.get('/analysis/get_prediction_targets', {tumor_type: tumor_type}, function (data) {
				var html = ""
				data.forEach(function(prediction_target) {
					html += '<option>' + prediction_target + '</option>'
				});
				$('select[name="prediction_target"]').html(html);

				get_prediction_target_groups();
				$(document).on('change', 'select[name="prediction_target"]', function() {
					get_prediction_target_groups();
				});
			});
		}
	}

	function addToPredictionTargetGroup(n) {
		var group = $('select[name="prediction_target_group' + n + '[]"]');
		
		var selected_values = $('select[name="prediction_target_groups"]').val();
		if (!selected_values) {
			return;
		}

		var html = '';
		selected_values.forEach(function(selected_value) {
			html += '<option>' + selected_value + '</option>';
		});
		group.append(html);

		html = "";
		$('select[name="prediction_target_groups"] option').each(function() {
			if (selected_values.indexOf($(this).text()) == -1) {
				html += '<option>' + $(this).text() + '</option>';
			}
		});
		$('select[name="prediction_target_groups"]').html(html);
	}

	function movePredictionTarget(source, destination) {
		var selected_values = $('select[name="prediction_target_group' + source + '[]"]').val();
		if (!selected_values) {
			return;
		}

		var destination_group = $('select[name="prediction_target_group' + destination + '[]"]');

		var html = '';
		selected_values.forEach(function(selected_value) {
			html += '<option>' + selected_value + '</option>';
		});
		destination_group.append(html);

		html = "";
		$('select[name="prediction_target_group' + source + '[]"] option').each(function() {
			if (selected_values.indexOf($(this).text()) == -1) {
				html += '<option>' + $(this).text() + '</option>';
			}
		});
		$('select[name="prediction_target_group' + source + '[]"]').html(html);
	}

	function submitForm() {
  		var option_tags = $('select[name="prediction_target_group1[]"] option');
		var options = [];
		option_tags.each(function() {
			options.push($(this).val());
		});

		$('select[name="prediction_target_group1[]"]').val(options);

		option_tags = $('select[name="prediction_target_group2[]"] option');
		options = [];
		option_tags.each(function() {
			options.push($(this).val());
		});

		$('select[name="prediction_target_group2[]"]').val(options);
	}


	$(document).ready(function() {
		get_prediction_targets();
		$(document).on('change', 'select[name="tumor_type"]', function(){
			get_prediction_targets();
		});
	});


	$(document).on('change', 'input[name="data_source"]:radio', function(){
	  render_list()
	});

	$(document).on('change', 'input[name="feature_selection_method"]:radio', function(){
	  render_list();
	});

	function render_list() {
		var source = $("input[name='data_source']:checked").val();
		var method = $("input[name='feature_selection_method']:checked").val();
		
		if (source == "proteomics") {
			$("#go_link").hide();
		}
		else {
			$("#go_link").show();
		}

		$.get('/analysis/get_features', {source: source, method: method}, function (data) {
			var features = '';
			content = '<table style="width:100%;">';
			for (var d in data) {
				s = data[d].trim().split("\t");
				content += '<tr><td><a href="http://www.genecards.org/cgi-bin/carddisp.pl?gene='+s[0]+'" target="_blank">'+s[0]+"</a></td><td>"+s[1]+'</td></tr>';
				features += s[0]+"\n";
			}
			content += '</table>';
			$("#features").html(content);
			$("#target_set").val(features);
		});
	}
	
	function go_analysis() {
		document.getElementById("go_form").submit();	
	}
</script>
<script language="JavaScript">
	function toggle(source) {
	  checkboxes = document.getElementsByName('feature_weights');
	  for(var i=0, n=checkboxes.length;i<n;i++) {
	    checkboxes[i].checked = source.checked;
	  }
	}
</script>

<h2>Classification of Clinical Phenotypes</h2>
<% if @valid_command %>
	<!-- <b>(For testing) Command: <%= @command %></b> -->
<% end %>
<style type="text/css" media="screen">
	div#tips a  {
		text-decoration:none;
		border-bottom:2px solid green;
		color: #0000FF;
	}

	div#tips a:hover {
		color: #666666;
		background: #FFFFCC;
		text-decoration: none;
	}
	div#tips a span {display: none;}
	div#tips a:hover span {
		display: block;
		position: absolute;
		padding: 5px;
		margin: 10px;
		z-index: 100;
		color: #0000CC;
		background: #FFFFCC;
		font: 10px Verdana, Arial, Helvetica, sans-serif;
		text-align: center;
		border: 1px solid #666666;
		text-decoration: none;
	}
	div#tips p {position:relative}
</style>
<div style="float:left;width:95%;" class="well">
This module performs binary clinical phenotype classification on The Cancer Genome Atlas (TCGA) cancer cohorts using their omics data. The TCGA data set will be divided into training and test sets and multiple machine learning model will be generated using the training set and evaluated on the test set. Below are the steps for model generation and evaluation.
<br><b>Step 1:</b> Choose the tumor type of interest. All tumor types investigated by TCGA consortiums are available for selection.
<br><b>Step 2:</b> Choose the omics type of interest. All available omics types for the chosen tumor are shown.
<br><b>Step 3:</b> Choose the prediction target. All publicly available clinical variables are shown. Once selected, all possible values of that phenotype in the data set will be populated. Please include at least one value for each phenotypical group (group 1 and group 2) for binary classification. Patients with phenotypes not included in either group will be omitted from analysis.
<br><b>Step 4:</b> Choose the method to partition the data set into distinct training and test sets. The classification models are generated and fine-tuned using the training data, while the test data are reserved to evaluate the performance of the model.
<br><b>Step 5:</b> Choose the method for feature selection. Each gene / protein / microRNA is regarded as a feature. Feature selection methods will identify the features indicative of the prediction target, and remove less relevant features to avoid model overfitting.
<br><b>Step 6:</b> Click "Run!" to generate the analysis. The progress of model generation and evaluation will be shown on this page, and the evaluation results on the test set will be presented once available. Typically proteomics or microRNA data take less than a minute, while RNA-sequencing data can take significantly longer.
</div>
<form id="generate_binary_analysis_form" method="post" action="/analysis/stage#progressbar">
	<div style="float:left;width:300px;">
		<h4>Step 1: Choose the Tumor Type<font color="red">*</font></h4>
		<div class="well">
			<%= select_tag "tumor_type", options_for_select({'Choose the Tumor Type' => ''}.merge(SiteConstants::TUMOR_TYPES.invert)) %>
		</div>
	</div>
	<div style="float:left;width:300px;margin-left:10px;">
		<h4>Step 2: Choose the Omics Type<font color="red">*</font></h4>
		<div class="well">
			<%= select_tag "data_source", options_for_select({'Choose the Omics Type' => ''}.merge(SiteConstants::DATA_TYPES.invert)) %>
		</div>
	</div>
	<div style="float:left;width:375px;margin-left:10px;">
		<h4>Step 3: Choose the Prediction Target<font color="red">*</font></h4>
		<div id="tips"><a href="#"> <strong>Tips</strong><span>Please choose one of the targeted phenotypes from the drop-down list and include one or more values to Group 1 and Group 2. The system will build machine learning models that distinguish patients in the Group 1 from those in the Group 2 using the chosen omics type. Machine learning methods work better when there are more than 10 samples in each classification group.</span></a></div>
		<div class="well">
			<%= select_tag "prediction_target" %>
			<div id="prediction_target_groups"></div>
		</div>
	</div>

	<br style="clear:both;">
	<div style="float:left;width:490px;">
		<%= render partial: 'batch' %>
	</div>
	<div style="float:left;width:490px; margin-left: 10px">
		<h4>Step 5: Choose the Feature Selection Method<font color="red">*</font></h4><div id="tips"><h5><a href="#"><strong>Tips</strong><span>Please choose one of the methods from the drop-down list to calculate the strength of association for each gene/protein in predicting the prediction target.</span></a></h5></div>
		<div class="well">
			<%= select_tag "feature_selection_method", options_for_select(SiteConstants::FEATURE_SELECTION_METHOD.invert) %>
			<br>Use the top <input type="text" name="num_top_features" value="10" style="width:30px;"> features for building the machine learning models.
			<div id="tips"><a href="#"> <strong>Tips</strong><span>Using 1/10 (rule of ten) to 1/20 (rule of twenty) of the number of patients usually results in reasonable machine-learning models.</span></a></div>
		</div>
	</div>

	<br style="clear:both;">
	<div style="float:left;width:375px;margin-left:10px;">
		<h4>Step 6: Get Notified when the Analysis Completes (optional)</h4>
		<div id="tips"><a href="#"> <strong>Tips</strong><span>To receive an e-mail when the analysis completes (optional). Suggested for k-fold, LOOCV, or analysis involving RNA-seq or DNA methylation data.</span></a></div>
		<div class="well">
			E-mail: <input type="text" name="email" value="" style="width:300px;">
		</div>
	</div>

	<br style="clear:both;">
	<div style="text-align: center">
		<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>"></input>
		<input type="hidden" name="session_id" value="<%= rand.to_s.sub("0.", "") %>">
		<div id="form_error_message_field" style="color:red; margin-bottom:5px;"></div>
		<h4>Step 7: Generate the Analysis<font color="red">*</font></h4><input type="submit" onClick="submitForm(); return true" value="Run!" name="generate" class="btn btn-primary" style="height:50px;font-size:16pt;" id="generate-analysis-button">
	</div>
	<br><font color="red">* = required</font>
	<div id="progressbar" style="width:90%; margin-left:auto; margin-right:auto; margin-top:10px;"></div>
	<div id="progressbar-status" style="width:90%; margin-left:auto; margin-right:auto;"></div>
</form>

<br style="clear:both;">

<% if params[:done] %>
	<h2 id="results">Results</h2>
	<div id="tips"><a href="#"><strong>Tips for Results Interpretation</strong><span>Machine-learning models usually work better with a large number of samples. With a set of informative features and optimized models, a training set of 100 patients can generate reasonable prediction performance.</span></a></div>
	<br><br><b>Input variables:</b>
	<div class="well" style="width:600px">
		<b>Tumor type:</b> <%= @tumor_type %>
		<br>
		<b>Omics type:</b> <%= @data_source %>
		<br>
		<b>Prediction target:</b> <%= @prediction_target %>
		<br>
		<b>Training / test set partition method:</b> <%= @partition %>
		<br>
		<b>Feature selection method:</b> <%= @var1 %>
		<br>
		<b>Number of top features:</b> <%= @var2 %>
		<br>
		<b>Group 1:</b> 
		<% @pred_group1.each do |group1| %>
			<%= group1 %>
		<% end %>
		<br>
		<b>Group 2:</b>
		<% @pred_group2.each do |group2| %>
			<%= group2 %>
		<% end %>
		<br>
		<b>Number of patients in the training set:</b>
		<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Group 1: <%= @nSamplesTraining[0] %>
		<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Group 2: <%= @nSamplesTraining[1] %>
		<br>
		<b>Number of patients in the test set:</b>
		<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Group 1: <%= @nSamplesTest[0] %>
		<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Group 2: <%= @nSamplesTest[1] %>
	</div>
	<b>Receiver operating characteristic (ROC) curves for machine learning models:</b>
	<div class="well" style="width:600px">
		<a href="/sessions/<%= @sessionID%>/roc.png" target="_blank">
			<img src="/sessions/<%= @sessionID%>/roc.png">
			<p align="center">Download ROC curves</p>
		</a>
	</div>
	<div id="tips"  style="width:600px" align="right"><a href="#"><strong>Tips for Results Interpretation</strong><span>Decision trees (including conditional inference trees, recursive partitioning trees) and naive Bayes classifiers are simple machine-learning models with faster computation time. Support vector machines use kernel transformation to account for high-dimensional interactions among features. Bagging (bootstrap aggregating) and random forest algorithms are ensemble methods that aggregated predictions from simple classifiers and usually performed better if the selected features are associated with the prediction target.</span></a></div>
	<b>Area under the ROC curves (AUCs):</b>
	<div class="well" style="width:600px">
		<table align="center">
			<tr>
				<th>Model</td>
				<th>AUC</td>
			</tr>
		<% @aucs.each do |aucs| %>
			<tr>
				<td><%= aucs[:name] %></a></td>
				<td><%= aucs[:value].to_f.round(4) %></td>
			</tr>
		<% end %>
		</table>
		<p align="center"><a href="/sessions/<%= @sessionID%>/AUCs.txt" target="_blank">Download AUCs</a></p>
	</div>
	<b>Decision tree visualization:</b>
	<div class="well" style="width:600px">
		<a href="/sessions/<%= @sessionID%>/decisionTree.png" target="_blank">
			<img src="/sessions/<%= @sessionID%>/decisionTree.png">
			<p align="center">Download decision tree</p>
		</a>
	</div>
	<b>Feature weights (the importance of each gene/protein in the prediction model):</b>
	<br>Click on the gene/protein name to visit the relevant GeneCards page.
	<table>
		<tr>
			<th><input type="checkbox" onClick="toggle(this)"></th>
			<th>Features</th>
			<th>Weights</th>
		</tr>
	<% @feature_weights.each do |feature_weight| %>
		<tr>
			<td><input type="checkbox" name="feature_weights" value="<%= feature_weight[:value] %>"></td>
			<td><a href="http://www.genecards.org/Search/Keyword?queryString=<%= feature_weight[:value] %>" target="_blank"><%= feature_weight[:name] %></a></td>
			<td><%= feature_weight[:weight].to_f.round(5) %></td>
		</tr>
	<% end %>
	</table>
	<input type="button" class="btn" onClick="resultsManager.run_stringdb()" value="Search String DB"> <a href="/sessions/<%= @sessionID%>/featureWeights.txt" target="_blank">Download feature weights</a>

	<div style="visibility:hidden">
		<form method="post" action="http://string-db.org/newstring_cgi/show_network_section.pl" target="_blank" enctype="multipart/form-data" id="stringdb_form">
			<input type="hidden" name="flash" value="19">
			<input type="hidden" name="required_score" value="400">
			<input type="hidden" name="empty" value="">
			<input type="hidden" name="have_user_input" value="2">
			<input type="hidden" name="multi_input" value="1">
			<input type="hidden" name="multiple_input_type" value="multi_identifier">
			<input type="hidden" name="advanced_menu" value="yes">
			<input type="hidden" name="limit" value="0">
			<input type="hidden" name="species_text" value="Homo sapiens">
			<input type="hidden" name="input_query_species" value="auto_detect">
			<textarea id="stringdb_input" name="multiple_input_items" rows="10" cols="40"></textarea>
			<input type="submit">
		</form>
	</div>
<% else %>
	<br><br><br>
<% end %>

<br style="clear:both;">
<div style="display:none;">
	<form id="go_form" method="post" target="_blank" action="http://cbl-gorilla.cs.technion.ac.il/servlet/GOrilla">
		<input type="hidden" name="application" value="gorilla">
		<input type="hidden" name="species" value="HOMO_SAPIENS">
		<input type="hidden" name="run_mode" value="mhg">
		<input type="hidden" name="target_file_name" value="">
		<input type="hidden" name="background_set" value="">
		<input type="hidden" name="background_file_name" value="">
		<input type="hidden" name="db" value="all">
		<input type="hidden" name="run_gogo_button" value="Search Enriched GO terms">
		<input type="hidden" name="pvalue_thresh" value="0.001">
		<input type="hidden" name="analysis_name" value="">
		<input type="hidden" name="user_email" value="">
		<input type="hidden" name="fast_mode" value="on">
		<textarea id="target_set" name="target_set"></textarea>
	</form>
</div>

<script>
	render_list();
	var resultsManager = new ResultsManager("<%= params[:tumor_type] %>", "<%= params[:data_source] %>", "<%= params[:prediction_target] %>", "<%= params[:partition] %>", "<%= params[:feature_selection_method] %>", "<%= params[:num_top_features] %>", "0", "0", "<%= params[:session_id] %>");
	<% if params[:generate] %>
		resultsManager.run('stage');
	<% end %>

	$('#generate_binary_analysis_form').submit(function(e) {
		if (!$('#tumor_type').val() || !$('#data_source').val() || !$('select[name="prediction_target_group1[]"] option').text() || !$('select[name="prediction_target_group2[]"] option').text()) {
			$('#form_error_message_field').html("Must select both a tumor type, a omics type, a group1 prediction target, and a group2 prediction target.");
			return false;
		}
	});
</script>
