<script>
	$(document).ready(function() {
		var set_alpha_lambda = function() {
			var show_params = $("input[name=set_alpha_lambda]:checked").val() == "user_enters";
			$(".user-enters-params").toggle(show_params);
			$(".alpha-bound").prop("required", show_params);
			$(".lambda-bound").prop("required", show_params);
		};
		set_alpha_lambda();
		$("input[name=set_alpha_lambda]").click(set_alpha_lambda);

		var set_optimal_alpha = function() {
			$(".alpha-bound").prop("disabled", $("input[name=optimal_alpha]:checked").length);
		}
		set_optimal_alpha();
		$("input[name=optimal_alpha]").click(set_optimal_alpha);

		var set_optimal_lambda = function() {
			$(".lambda-bound").prop("disabled", $("input[name=optimal_lambda]:checked").length);
		}
		set_optimal_lambda();
		$("input[name=optimal_lambda]").click(set_optimal_lambda);

		var get_clinical_variables = function() {
			$('#clinical_variables').html("");

			var tumor_type = $('select[name="tumor_type"]').val();
			if (tumor_type) {
				$.get('/analysis/get_clinical_variables', {tumor_type: tumor_type}, function (data) {
					var html = '<table>';
					var i = 0;
					data.forEach(function(prediction_target) {
						html += '<tr><td style="margin:0"><input type="checkbox" name="clinical_variables[]" value="' + i + '" style="margin:0"></td><td>' + prediction_target + '</td></tr>'
						i++;
					});
					html += '</table>';
					$('#clinical_variables').html(html);
				});
			}
		};

		get_clinical_variables();
		$('select[name="tumor_type"]').change(get_clinical_variables);
	});
</script>

<h2>Survival Analysis</h2>
<% if @valid_command %>
	<b>(For testing) Command: <%= @command %></b>
<% end %>

<form id="generate_survival_analysis_form" method="post" action="/analysis/survival#progressbar">
	<div style="float:left;width:400px;">
		<h4>Choose the Tumor Type</h4>
		<div class="well">
			<%= select_tag "tumor_type", options_for_select({'Choose Tumor Type' => ''}.merge(SiteConstants::TUMOR_TYPES.invert)) %>
		</div>
	</div>
	<div style="float:left;width:400px;margin-left:10px;">
		<h4>Choose the Data Source</h4>
		<div class="well">
			<%= select_tag "data_source", options_for_select({'Choose Data Source' => ''}.merge(SiteConstants::DATA_TYPES.invert)) %>
		</div>
	</div>
	<br style="clear:both;">
	
	<div style="float:left;width:320px;">
		<%= render partial: 'batch' %>
	</div>
	<div style="float:left;width:320px;margin-left:10px">
		<h4>Alpha / Lambda</h4>
		<div class="well">
			<table class="noborder">
				<tr>
					<td style="width:50%;"><input type="radio" name="set_alpha_lambda" value="cross_validation" CHECKED>Find the optimal alpha and lambda through cross-validation on the training set</input></td>
					<td style="width:50%;"><input type="radio" name="set_alpha_lambda" value="user_enters">Choose alpha and lambda ranges</input></td>
				</tr>
				<tr class="user-enters-params" style="display:none;">
					<td>Alpha lower bound<input type="number" class="alpha-bound form-control" style="width: 50px;" name="alpha_lower_bound" min="0" max="100" required></input></td>
					<td>Alpha upper bound<input type="number" class="alpha-bound form-control" style="width: 50px;" name="alpha_upper_bound" min="0" max="100" required></input></td>
				</tr>
				<tr class="user-enters-params" style="display:none;">
					<td colspan="2">
						<input type="checkbox" name="optimal_alpha" value="true" style="margin: 0px">
						Find the optimal alpha through cross-validation on the training set
					</td>
				</tr>
				<tr class="user-enters-params" style="display:none;">
					<td>Lambda lower bound<input type="number" class="lambda-bound form-control" style="width: 50px;" name="lambda_lower_bound" min="0" required></input></td>
					<td>Lambda upper bound<input type="number" class="lambda-bound form-control" style="width: 50px;" name="lambda_upper_bound" min="0" required></input></td>
				</tr>
				<tr class="user-enters-params" style="display:none;">
					<td colspan="2">
						<input type="checkbox" name="optimal_lambda" value="true" style="margin: 0px">
						Find the optimal lambda through cross-validation on the training set
					</td>
				</tr>
			</table>
		</div>
	</div>
	<div style="float:left;width:300px;margin-left:10px">
		<h4>Add Clinical Variables</h4>
		<div class="well">
			<div id="clinical_variables" style="height:400px;overflow-y:auto"></div>
		</div>
	</div>

	<br style="clear:both;">
	<div style="text-align: center">
		<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>"></input>
		<input type="hidden" name="session_id" value="<%= rand.to_s.sub("0.", "") %>">
		<div id="form_error_message_field" style="color:red; margin-bottom:5px;"></div>
		<input type="submit" value="Generate Analysis" name="generate" class="btn btn-primary" style="height:50px;font-size:16pt;">
	</div>
</form>

<div id="progressbar" style="width:90%; margin-left:auto; margin-right:auto; margin-top:10px;"></div>
<div id="progressbar-status" style="width:90%; margin-left:auto; margin-right:auto;"></div>


<% if params[:done] %>
	<h2 id="results">Results</h2>
	<div class="well" style="width:600px">
		<a href="/sessions/<%= @sessionID%>/survivalOutput.png" target="_blank">
			<img src="/sessions/<%= @sessionID%>/survivalOutput.png">
		</a>
	</div>
	<b>Log Rank P Value in the Test Set</b>
	<div class="well">
		<p><%= @pTest[0][0].to_f.round(4) %></p>
	</div>

	<table>
		<tr>
			<th colspan="2">Feature</th>
			<th>Weight</th>
		</tr>
	<% @feature_weights.each do |feature_weight| %>
		<tr>
			<td><input type="checkbox" name="feature_weights" value="<%= feature_weight[:value] %>"></td>
			<td><a href="http://www.genecards.org/Search/Keyword?queryString=<%= feature_weight[:value] %>" target="_blank"><%= feature_weight[:name] %></a></td>
			<td><%= feature_weight[:weight].to_f.round(5) %></td>
		</tr>
	<% end %>
	</table>

	<input type="button" class="btn" onClick="resultsManager.run_stringdb()" value="Search String DB">

	<div style="visibility:hidden">
		<form method="post" action="http://string-db.org/newstring_cgi/show_network_section.pl" target="_blank" enctype="multipart/form-data" id="stringdb_form">
			<input type="hidden" name="flash" value="19">
			<input type="hidden" name="required_score" value="400">
			<input type="hidden" name="empty" value="">
			<input type="hidden" name="have_user_input" value="2">
			<input type="hidden" name="multi_input" value="1">
			<input type="hidden" name="multiple_input_type" value="multi_identifier">
			<input type="hidden" name="advanced_menu" value="yes">
			<input type="hidden" name="limit" value="0">
			<input type="hidden" name="species_text" value="Homo sapiens">
			<input type="hidden" name="input_query_species" value="auto_detect">
			<textarea id="stringdb_input" name="multiple_input_items" rows="10" cols="40"></textarea>
			<input type="submit">
		</form>
	</div>
<% else %>
	<br><br><br><br>
<% end %>

<br style="clear:both;">
<script>
	var resultsManager = new ResultsManager("<%= params[:session_id] %>");
	<% if params[:generate] %>
		resultsManager.run('survival');
	<% end %>

	$('#generate_survival_analysis_form').submit(function(e) {
		
		if ($('#tumor_type').val() == "" || $('#data_source').val() == "") {
			$('#form_error_message_field').html("Must select both a tumor type and a data source.");
			return false;
		} else {
		}
	});
</script>
